body{
    margin: 0;
    background-image: url(resources/cementerio.png);
    background-size: cover;
}

main{
    width: 100dvw; height: 100dvh;
}

.character{
    width: 50px; height: 80px;
    background-image: url(resources/fantasma1.png);
    position: fixed;
}

#floor{
    background-color: black;
    width: 95dvw; height: 2rem;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

#characDialoge{
    background-color: aliceblue;
    border: 1px,solid;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    top: 50%;
    left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}